<div id="<%= dom_id job_posting %>">
  <p>
    <strong>Title:</strong>
    <%= job_posting.title %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= job_posting.department %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job_posting.description %>
  </p>

  <p>
    <strong>Creado por:</strong>
    <%= job_posting.user.name %>
  </p>

</div>
