<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @job_posting %>
  
  <% if user_signed_in? && current_user.admin? %>         
    <div>
      <%= link_to "Edit this job posting", edit_job_posting_path(@job_posting) %> |
      <%= link_to "Back to job postings", job_postings_path %>
      <%= button_to "Destroy this job posting", @job_posting, method: :delete %>
    </div>
  <% else %>
      <%= link_to "Back to job postings", job_postings_path %>
  <% end %>

</div>
